@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header_img{
    font-family: sans-serif;
    background-image: url(img/background-img.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}



.full_container {
    width: 100%;
}

.container{
    width: 960px;
    margin: 0 auto;
    display: block;
}
.fix{
    overflow: hidden;
}
.floatleft{
    float: left;
}
.floatright{
    float: right;
}
p{
   line-height: 150%;
   margin-bottom: 2em;  
}
h1,h2,h3,h4,h5,h6{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
}



#header{
    padding: 20px 0;
}


#header .logo a{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Monda', sans-serif;
}


#menu {

}
#menu li{
    list-style-type:none;
    display:inline-block;
}

#menu li a{
    color: #fff;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Monda', sans-serif;
}

#menu li a:hover{
    color: red;
}
body{
    font-family: 'Monda', sans-serif;
}

.banner_area h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-family: 'Monda', sans-serif;
}
.banner_area h2 span{
    color: red;
    
}

/* header part fonoshed  */

.section_bg{
    background: #FBFBFF;
    padding-bottom: 50px;
}
.icon i{
    font-size: 30px;
    padding-top: 15px;
}



/* .service_wrapper h2::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background:#ed5b5b;
    top: 116%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
} */

.col-md-4 p{
    text-align: center;
    padding-bottom: 10px;
}
.col-md-4{
    box-shadow: 0 0 40px 2px rgba(37,73,214,0.18);
}
.col-md-4 .btn:hover{
    background: #ed5b5b;
    color: #fff;
}
.col-md-4 .btn{
    margin-top: -10px;
    border:none;
}
/* section part finished  */

/* 
.skils h2::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background:#ed5b5b;
    bottom:-91%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
} */

.progress_bar{
    padding-top: 5px;
    padding-bottom: 40px;
}

.progress{
    border-radius: 5px;
}
.bg-success{
    border-radius: 10px;
}
.bg-info{
    border-radius: 10px; 
}
.bg-danger{
    border-radius: 10px;   
}
.bg-primary{
    border-radius: 10px; 
}
.bg-warning{
    border-radius: 10px; 
}


/* finished  */


.portfolio_bg{
    background:#F8F9FA;
    padding-top: 30px;
    padding-bottom: 40px;
}
.row{
  
}
.col-md-4 img{
    width: 300px;
    margin-left: 10px;
    height: 200px;
    padding: 15px 0;
    box-shadow: 3px 3px 20px rgb(0 0 0 / 20%);
}

/* .col-md-4 img::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    transition: 0.4s;
}
*, *::before, *::after {
    box-sizing: border-box;
} */

/* ABOUT ME  */

.col-5 img{
    width: 80%;
    margin-top: 60px;
    box-shadow: 3px 3px 20px rgb(0 0 0 / 20%);
    height: 70%;
    border-radius: 5px;
}

.col-7 h2{
    margin-top: 55px;
}

.social_icon a{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #2c3e50;
  color: white;
  margin:0 6px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  
}
.social_icon a i{
  padding: 12px 14px;

}

.social_icon a:hover {
    background: #e67e22;
}



/* Contact  */

.contact_bg{
    background: #F8F9FA;
    padding-bottom: 40px;
}

.col-6 img{
    width: 80%;
    margin-top: 100px;
}






.col-6 h2{
    margin-top: 60px;
}

#form input[type=text]{
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
}

textarea{
    width: 100%;
   margin:10px 0;
   border: 1px solid #fff;
   padding: 10px 20px;
}

.btn{
  color: #fff;
  font-size: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
}



/* Footer  */

.footer_bg{
    background: #122030;
    color: #fff;
}

.col-6 p{
    margin: 40px 0;
}